@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body {
  background-color: #f0f2f5;
  min-width: 80vw;
  min-height: 40vw;
}

.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 3rem;
  margin: 6rem 10rem 6rem;
}

.logoFacebook {
  height: 10rem;
}

h1 {
  text-align: justify;
  font-size: 1.4rem;
  font-weight: normal;
  padding: 0 0 0.5rem;
}

.primeiraSessao {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0.5rem;
}

.segundaSessao {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.formulario {
  background-color: #ffffff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0px 0px 8px 0px rgba(220, 220, 220, 1);
  border: none;
}

input,
button {
  padding: 0.8rem 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #dddddd;
}

input:focus {
  outline-color: #1877f2;
}

.btnEntrar {
  background-color: #1877f2;
  border: none;
  font-weight: 700;
  color: #ffffff;
  font-size: 1.2rem;
}

.btnEntrar:hover {
  background-color: #1877ffe1;
  cursor: pointer;
}

.esqueceuSenha {
  align-self: center;
  justify-content: center;
  padding: 0.8rem;
  color: #1877f2;
  line-height: 1rem;
  font-weight: 500;
}

.esqueceuSenha:hover {
  color: #1877f2;
  cursor: pointer;
  text-decoration: underline;
}

.linhaDivisao {
  border-bottom: 1px solid #dadde1;
  margin: 1rem 0.5rem 1rem;
}

.btnCriarConta {
  background-color: #42b72a;
  color: #ffffff;
  font-weight: 700;
}

.btnCriarConta:hover {
  background-color: #42b72ae1;
  cursor: pointer;
}

p {
  margin-top: 1.5rem;
  text-align: center;
  font-weight: normal;
}

.criarPagina {
  font-weight: 700;
  color: #000000;
}

.criarPagina:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.6;
}

/* Adaptação do projeto para dispositivos móveis */
@media screen and (max-width: 480px) {
  * {
    font-size: 12px;
  }

  body {
    min-width: 10vw;
  }

  .principal {
    display: flex;
    flex-direction: column;
  }
}
